<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Guest List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header"><h1>Word Count</h1></div>
			<div class="card-body">
				<p class="card-text">The below table shows the occurrences of each word in the selected file.
					<br/>New line counts as a blank word (" "). </p>

				<a href="/" class="btn btn_lg btn-primary">Try it again</a>
			</div>
			<div class="card-body">
				<table class="table table-sm table-hover">
					<thead class="thead-dark">
						<tr>
							<th>Word</th>
							<th>Occurrences</th>
						</tr>
					</thead>
					<tr th:each="map : ${map}">
						<td><span th:text="${map.key}"></span></td>
						<td><span th:text="${map.value}"></span></td>
					</tr>
				</table>
				<a href="/" class="btn btn_lg btn-primary">Try it again</a>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
	<script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>